body {
    --red: #ff0000;
    --darker-red: #cc0000;
    --green: #00ff00;
    --darker-green: #00cc00;
}

/* Background Colors */
.red-bg { background: car(--red) }
.darker-red-bg { background: car(--darker-red) } 
.green-bg { background: car(--green) }
.darker-green-bg { background: car(--darker-green) } 

/* Text Colors */
.red-txt { color: car(--red) }
.darker-red-txt { color: car(--darker-red) } 
.green-txt { color: car(--green) }
.darker-green-txt { color: car(--darker-green) } 